.filter-container{
    margin:2rem 2rem 2rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-align:center;
}

.filter-box{
    justify-content:center;
    width:100%;
    padding:0rem 0rem 0rem 0rem;
    margin:0rem 0rem 0rem 0rem;   
}
.label{
    margin-bottom: 0.9rem ;
}