.nav-container{
    display:flex;
    align-content:center;
    flex-direction: column;
    height:100%;
    float: left;
    padding: 0 2rem 0 2rem; 
    font-size: 14px; 
    background-color: rgb(15, 26, 44);
    color:white;  
}

.logo{
    margin-top:20px;
    justify-self: center; 
    padding: 0 2rem;
}

.nav-menu{
    display:flex;
    flex-direction: column;
    padding: 0rem 2.5rem 0 1rem; 
}

li{
    padding-top: 4rem;
}

#linkid{
    color:white;
    text-decoration:none;
}

#linkid:hover{
    color:rgb(53, 53, 94);
    background:white;
    border-radius:5px;
    padding:1rem 1rem;
    cursor:pointer;
    text-decoration:none;
}